* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  margin-top: 20vh;
  border: solid 7px #63032f;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4e5f9;
}

h1 {
  font-size: 60px;
  margin-bottom: 25px;
  color: #63032f;
}

.score-board {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.human-score,
.computer-score {
  color: #63032f;
  font-weight: 600;
  font-size: 20px;
  border: solid 3px #63032f;
  padding: 5px 7px;
  border-radius: 8px;
}
